:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #545670;
}

body {
  background-image: url('assets/Hanzel.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Gallery*/ 
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.gallery-item {
  border: 1px solid #ccc;
  padding: 8px;
  width: 200px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000000;
  }
  a:hover {
    color: #66677c;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url('assets/2.png'); /* Path to your mobile-optimized image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}